body{
    margin: 0;
    padding: 0;
}
section{
    
}
.menu-section{

}
.menu{}
.menu ul{
    list-style: none;
    text-align: right;
}
.menu ul li{
}
.menu ul li a{
    text-decoration: none;
    padding-right: 3%;
    color: #3C3C3C;
    font-size: 16px;
} 
.welcome-section{}
.welcome-text{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.welcome-text h1{
    font-size: 80px;
    line-height: 10px;
}
h1 span{
    color: #F68667;
}
.welcome-button{
    text-decoration: none;
    background: linear-gradient(45deg, green, orange);
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
    color: lightgray;
    font-size: 20px;
}
.welcome-image{
    float: left;
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
}
.welcome-image img{
    width: 100%;
} 